.App-header {
  margin: 30px 0;
}

.App-logo {
  display: block;
  max-width: 60px;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}

.App a {
  text-decoration: none;
  color: rgb(61, 90, 255);
}